<%- include ('partials/header.ejs') %>
<link rel="stylesheet" href="../public/css/home.css">

<%- include ('navbar.ejs') %>

<li>
  <i class='bx bx-search'></i>
  <input type="text" placeholder="Pesquisar...">
  <span class="type">Pesquisar</span>
</li>

<%- include ('partials/footer.ejs') %>