Body{
  
}

.teacher-img{
  position: fixed;
  width: 1503px;
  height: 3005px;
  left: -317px;
  top: -366px;
}

.form{
  
}

.form-login{
  display: flex;
  flex-direction: column;
  margin-left: 5.0rem;
}

.login{
  width: 500px;
  height: 98px;
  
  background: #FFFFFF;
  border: 1px solid #275975;
  border-radius: 10px;
}

label{
  font-size: 2.8rem;
}

.container{
  display: flex;
}